/*-------------------------------------------------------*/
.header
{
  display: flex;
  flex-direction: row;
  /*background-color: rgb(124, 124, 124);*/
  margin-bottom: 20px;
}

.header-left
{
  display: flex;
  flex: 2;
}

.header-right
{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
/*-------------------------------------------------------*/
.Name-section
{
  height: 70px;
  display:flex;
  align-items: center;
  font-family: Arial;
  font-style: italic;
  font-size: 30px;
  margin-left: 50px;
  color: white;
}
/*-----------------------CONTACTS SECTION---------------------------------*/
.Contacts-section
{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.Contacts-section a
{
  color: black;
  text-decoration: none;
}

.Contacts-section a:hover
{
  transition: 0.5s;
  color: white;
}
/*---------------------------HOME SECTION-------------------------------*/
.Home-section
{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.Home-section a
{
  color: black;
  text-decoration: none;
}

.Home-section a:hover
{
  transition: 0.5s;
  color: white;
}
/*-----------------------------ABOUT SECTION--------------------------------*/
.About-section
{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.About-section a
{
  color: black;
  text-decoration: none;
}

.About-section a:hover
{
  transition: 0.5s;
  color: white;
}
/*----------------------------WORK SECTION----------------------------------*/
.Work-section
{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.Work-section a
{
  color: black;
  text-decoration: none;
}

.Work-section a:hover
{
  transition: 0.5s;
  color: white;
}
/*-------------------------------ACTIVE LINK---------------------------------*/
.active-link a
{
  color: white;
}
/*------------------------------------------*/

.body
{
  display: flex;
  flex-direction: row;
  /*background-color: rgb(124, 124, 124);*/
  height: 200px;
}

.profile-image-section
{
  display: flex;
  flex: 1;
  margin-left: 50px;
  margin-right: 10px;
}

.profile-pic
{
  border: none;
  border-radius: 100px;
  height: 200px;
}

.description-section
{
  display: flex;
  flex: 2;
  /*background-color: lightpink;*/
  height: 120px;
  margin-top: 10px;
  margin-right: 20px;
}

.description-header
{
  display: flex;
  /*background-color: black;*/
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.description-header-h1
{
  color: white;
  font-family: Arial;
  font-size: 18px;
  width: 100%;
}

body
{
  background-color: rgb(124,124,124);
  min-height: 50vh;
}

@viewport
{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport
{
  width: extend-to-zoom;
  zoom: 1.0;
}